<!DOCTYPE html>
<html lang="ja">
{{- partial "head.html" . -}}
<body>
  <div id="site-container">
    {{- partial "header.html" . -}}

    <div id="content-container">
      <div class="container" role="main">
        {{- block "main" . }}{{- end }}
      </div>
    </div>

    <div id="navigation-container">
      <div class="container">
        {{- block "footer" . }}{{- end }}
      </div>
    </div>

    {{- partial "footer.html" . -}}

    <div id="fb-root"></div>
  </div>
  <script>
    // Twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    // Facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=1775541316016693";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Pocket
    !function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");

  </script>
  <script src="https://b.st-hatena.com/js/bookmark_button.js" async="async"></script>
</body>
</html>
