{{ define "main" }}
<div class="article-container">
  <article class="content">
    <div class="article-title">
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <p class="date">Posted on {{ .Date.Format "Jan 2, 2006" }}</p>
    </div>
    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
  <div class="article-left"></div>
  <div class="article-right">
  <div class="article-toc">
    {{ .TableOfContents }}
  </div>
  </div>
</div>
{{ end }}

{{ define "navigation" }}

<div class="navigation-container">
  <nav class="content">
    <div class="sns-buttons">
      <ul>
        <li>
          <div class="twitter-button">
            <a class="twitter-share-button" href="https://twitter.com/share" data-via="nownabe" data-related="nownabe">Tweet</a>
          </div>
        </li>
        <li>
          <div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </li>
        <li>
          <a class="hatena-bookmark-button" href="http://b.hatena.ne.jp/entry/" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加">
            <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;">
          </a>
        </li>
        <li>
          <a class="pocket-btn" data-pocket-label="pocket" data-pocket-count="horizontal" data-lang="en"></a>
        </li>
      </ul>
    </div>
    {{- if ne (.Site.RegularPages.Related .).Len 0 -}}
    <h2 class="related-posts">related posts</h2>
    <div id="cards">
      {{- $related := .Site.RegularPages.Related . | first 4 -}}
      {{- with $related -}}
      {{- range . -}}
        <article class="card">
          <a href="{{ .RelPermalink }}"></a>
          <div class="card-img">
              <img
                src="{{- if (isset .Params "image") | and (not (eq .Params.image "")) -}}{{ .Site.BaseURL }}{{ .Params.image }}{{- else -}}{{ .Site.BaseURL }}img/nownabe.png{{- end -}}"
                alt="{{ .Title }}"
                class="card-img"
              >
          </div>
          <div class="card-title">
            <h2>{{ .Title }}</h2>
            <p class="date">{{ dateFormat "Jan 2, 2006" .Date }}</p>
          </div>
        </article>
      {{- end -}}
      {{- end -}}
    </div>
    {{- end -}}
  </nav>
</div>
{{ end }}
