<div id="footer-container">
  <div id="author" class="container">
    <p>
      <a href="https://nownabe.com">
        <img src="/img/profile_icon_2020.png" alt="profile icon">
      </a>
    </p>
    <div>
      <p class="name"><a href="https://nownabe.com">Shogo Watanabe</a></p>
      <p>
        Customer Engineer at Google Cloud.
      </p>
      <p>
        Opinions are my own, NOT views of my employer.
      </p>
    </div>
  </div>
  <footer class="container">
    <p class="copyright">
      Copyright &copy; 2016 nownabe All Right Reserved.
    </p>
  </footer>
</div>
