<div class="footer-container">
  <footer class="content">
    <div id="author">
      <p>
        <a href="https://nownabe.com">
          <img src="/img/profile_icon_2022.jpg" alt="profile icon">
        </a>
      </p>
      <div class="bordered-link">
        <p class="name"><a href="https://nownabe.com">Shogo Watanabe</a></p>
        <p>
          A dog lover.
          Software Engineer at <a href="https://kwork.studio">Knowledge Work</a>.
        </p>
        <p>
          Opinions are my own, not views of my employer.
        </p>
      </div>
    </div>
    <div id="copyright">
      <p class="copyright">
        Copyright &copy; 2016 Shogo Watanabe All Right Reserved.
      </p>
    </div>
  </footer>
</div>
