<div id="footer-container">
  <div id="author" class="container">
    <p>
      <a href="https://nownabe.com">
        <img src="/img/profile.jpg" alt="profile icon">
      </a>
    </p>
    <div>
      <p><a href="https://nownabe.com">Shogo Watanabe</a></p>
      <p class="title">
        Customer Engineer at Google Cloud
      </p>
    </div>
  </div>
  <footer class="container">
    <p class="copyright">
      Copyright &copy; 2016 nownabe All Right Reserved.
    </p>
  </footer>
  <aside id="information" class="container">
    <ul id="links">
      <li>
        <a href="https://nownabe.github.io/">
          <img src="/img/nownabe.svg" alt="nownabe.github.io">
        </a>
      </li>
      <li>
        <a href="https://github.com/nownabe">
          <img src="/img/github.svg" alt="GitHub">
        </a>
      </li>
      <li>
        <a href="https://qiita.com/nownabe">
          <img src="/img/qiita.svg" alt="Qiita">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/nownabe">
          <img src="/img/twitter.svg" alt="Twitter">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/nownabe">
          <img src="/img/facebook.png" alt="Facebook">
        </a>
      </li>
    </ul>
  </aside>
</div>
