@charset "UTF-8";
/* Variables */

$up-breakpoints: (
  'xs': 'screen',
  'sm': 'screen and (min-width: 600px)',
  'md': 'screen and (min-width: 900px)',
  'lg': 'screen and (min-width: 1200px)',
  'xl': 'screen and (min-width: 1536px)',
);

$down-breakpoints: (
  'xs': 'screen and (max-width: 599px)',
  'sm': 'screen and (max-width: 899px)',
  'md': 'screen and (max-width: 1199px)',
  'lg': 'screen and (max-width: 1535px)',
  'xl': 'screen',
);

@mixin up($breakpoint) {
  @media #{map-get($up-breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin down($breakpoint) {
  @media #{map-get($down-breakpoints, $breakpoint)} {
    @content;
  }
}

:root {
  @media (prefers-color-scheme: light) {
    --color-bg: #fff;
    --color-border: #ddd;
    --color-text: #222;
    --color-text2: #999;
  }

  @media (prefers-color-scheme: dark) {
    --color-bg: #222;
    --color-border: #444;
    --color-text: #fff;
    --color-text2: #fff;
  }
}


/* Base Styles */

.content {
  @include up(lg) {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  @include down(md) {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  @include down(sm) {
    max-width: calc(100% - 2rem);
    margin-right: auto;
    margin-left: auto;
  }
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-family: "Lato", Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);

  @include down(xs) {
    font-size: 0.95rem;
  }
}

a {
  color: var(--color-text);
  text-decoration: none;
}

li {
  margin-left: 2rem;
}

.bordered-link {
  a {
    position: relative;
    display: inline-block;
  }

  a::after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0.1rem;
    content: '';
    width: 100%;
    height: 0.3rem;
    background-color: var(--color-border);
    transition: 0.2s;
  }

  a:hover::after {
    width: 0;
  }
}

.header-container {
  border-bottom: 1px solid var(--color-border);

  header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;

      a {
        color: var(--color-text);
        text-decoration: none;
        transition: 0.2s;

        &:hover {
          background-color: var(--color-border);
        }
      }
    }
  }
}

.footer-container {
  border-top: 1px solid var(--color-border);

  footer {
    padding-top: 2rem;
    padding-bottom: 2rem;

    #author {
      display: flex;

      img {
        width: 64px;
        height: 64px;
        border-radius: 64px;
        margin-right: 1rem;
      }

      .name {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }

    #copyright {
      margin-top: 2rem;
    }
  }
}

#cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 2rem;

  @include up(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include down(sm) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(400px - 1rem);
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.01);
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
    }

    .card-img {
      img {
        width: calc(400px - 1rem);
        height: calc(200px);
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        object-fit: cover;
      }
    }

    .card-title {
      padding: 1rem;

      h2 {
        font-size: 1.2rem;
      }

      .date {
        color: var(--color-text2);
      }
    }

    @include down(sm) {
      flex-direction: row;
      width: 100%;

      .card-img {
        width: 240px;
        height: 180px;

        img {
          width: 240px;
          height: 180px;
          border-top-right-radius: 0;
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }
      }
    }

    @include down(xs) {
      .card-img {
        width: 160px;
        height: 120px;

        img {
          width: 160px;
          height: 120px;
        }
      }
    }
  }
}

#pagination {
  margin-top: 4rem;
  margin-bottom: 2rem;

  ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;

    li {
      position: relative;
      display: inline-block;
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      width: 10%;
      height: 2rem;

      a {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 2rem;
        border-radius: 0.25rem;
        padding-top: 0.4rem;
        transition: 0.2s;
        text-align: center;
      }
    }

    li:not(.disabled) {
      a:hover {
        background-color: var(--color-border);
      }
    }

    li.disabled {
      a {
        color: var(--color-border);
      }
    }

    li.active {
      background-color: var(--color-border);
    }
  }
}

.article-container {
  margin-top: 2rem;

  .article-left,
  .article-right {
    display: none;
  }

  @include up(xl) {
    display: flex;
    justify-content: center;
    column-gap: 2rem;

    .content {
      width: 800px;
      margin: 0;
      order: 2;
    }

    .article-left {
      order: 1;
    }

    .article-right {
      order: 3;
    }

    .article-left,
    .article-right {
      display: block;
      width: 300px;
    }
  }

  .article-title {
    margin-bottom: 2rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 2rem;

      &::before {
        content: '# ';
        color: var(--color-text2);
      }
    }

    .date {
      color: var(--color-text2);
      font-weight: bold;
      line-height: 1.2;
    }
  }

  .article-body {
    img {
      margin: 1.5rem 0;
      max-width: 100%;
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
    }

    p {
      line-height: 1.8;
      margin: 1.5rem 0;

      iframe {
        margin: 0;
      }

      img {
        margin: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1.5rem;

      &::before {
        color: var(--color-text2);
      }

      /* for anchor */
      a i {
        display: none;
      }

      &:hover a i {
        display: inline-block;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        position: relative;
        left: -1em;
      }
    }

    /* h1 is deprecated in article body. For backward-compatibility. */
    h1 {
      margin-top: 3rem;
      font-size: 2rem;

      &::before {
        content: '# ';
      }
    }

    h2 {
      margin-top: 3rem;
      font-size: 1.5rem;

      &::before {
        content: '## ';
      }
    }

    h3 {
      margin-top: 2.4rem;
      font-size: 1.2rem;

      &::before {
        content: '### ';
      }
    }

    h4 {
      margin-top: 2.2rem;
      font-size: 1.1rem;

      &::before {
        content: '#### ';
      }
    }

    h5 {
      margin-top: 2rem;
      font-size: 1rem;

      &::before {
        content: '##### ';
      }
    }

    h6 {
      margin-top: 2rem;
      font-size: 1rem;

      &::before {
        content: '###### ';
      }
    }

    ul,
    ol {
      margin: 1.5rem 0;
    }

    li {
      line-height: 2;
      margin-left: 2rem;

      ul,
      ol {
        margin: 0;
      }
    }

    blockquote {
      border-left: 4px solid var(--color-border);
      padding-left: 1rem;
      color: var(--color-text);
    }

    code {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      background-color: #f0f3f3;
      border-radius: 0.25rem;
      padding: 0 0.25rem;
      margin: 0 0.25rem;
    }

    .highlight {
      margin: 1.5rem 0;

      pre {
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
        line-height: 1.2;

        code {
          background: none;
          border-radius: 0;
          padding: 0;
          margin: 0;
        }
      }
    }

    p a,
    li a {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0.1rem;
        content: '';
        width: 100%;
        height: 0.3rem;
        background-color: var(--color-border);
        transition: 0.2s;
      }

      &:hover::after {
        width: 0;
      }
    }

    .footnotes {
      * {
        margin: 0;
      }

      hr {
        border: 1px solid var(--color-border);
      }

      ol {
        margin: 1rem 0;
      }

      li {
        line-height: 2;
        margin-left: 2rem;

        ul,
        ol {
          margin: 0;
        }
      }
    }
  }

  .article-toc {
    position: sticky;
    top: 2rem;

    font-size: 0.9rem;

    a {
      transition: .2s;
    }

    a:hover {
      background-color: var(--color-border);
    }
  }
}

.navigation-container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .sns-buttons {
    margin-bottom: 2rem;

    ul {
      list-style-type: none;
      display: flex;
      column-gap: .5rem;

      li {
        margin-left: 0;
      }
    }
  }

  h2.related-posts {
    margin-top: 2rem;
    text-transform: uppercase;
  }
}